<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ .Title }} | {{ site.Title }}</title>
  <meta name="description" content="{{ site.Params.description }}">

  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
</head>
<body>

  {{ partial "header.html" . }}

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}
  <script src="{{ "js/hero-slider.js" | relURL }}"></script>
  <script src="{{ "js/header.js" | relURL }}"></script>
</body>
</html>