<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="img/favicon.ico" type="image/x-icon">

  <title>{{ .Title }} | {{ site.Title }}</title>
  <meta name="description" content="{{ site.Params.description }}">

  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
</head>
<body>

  {{ partial "header.html" . }}

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}
  <button id="backToTop" aria-label="Torna su">↑</button>
  <script src="{{ "js/backtotop.js" | relURL }}"></script>
  <script src="/js/gallery.js"></script>
  <script src="/js/reveal.js" defer></script>
  <script src="/js/scrollspy.js" defer></script>
  <script src="{{ "js/header.js" | relURL }}"></script>
</body>
</html>
