<header class="site-header">
  <div class="header-inner">

    <a href="/" class="site-logo">
  <img src="{{ "img/logo.png" | relURL }}" alt="Assembler Computer">
</a>

<nav class="site-nav" id="site-nav">
  <a href="/" class="nav-link">Home</a>
  <a class="nav-link" href="/#servizi">Servizi</a>
  <a class="nav-link" href="/#riparazioni">Riparazioni</a>
  <a href="{{ "/" | relURL }}#diagnostica" class="nav-link">Diagnostica - Laboratorio</a>
  <a href="/contatti/" class="nav-link">Contatti</a>
  <a href="https://assembler-studio.netlify.app/" 
   target="_blank" 
   rel="noopener"
   class="nav-link nav-external">
   Assembler Studio
</a>
</nav>

  </div>
</header>
