<section class="home-brands">

  <div class="brands-track">
    <ul class="brands-list">
      <!-- tu qui ci metti gli SVG -->
      <!-- esempio -->
      <li><img src="/img/brands/lenovo.svg" alt="Lenovo"></li>
      <li><img src="/img/brands/intel.svg" alt="Intel"></li>
      <li><img src="/img/brands/amd.svg" alt="AMD"></li>
      <li><img src="/img/brands/msi.svg" alt="MSI"></li>
      <li><img src="/img/brands/hp.svg" alt="HP"></li>
      <li><img src="/img/brands/asrock.svg" alt="ASRock"></li>
      <li><img src="/img/brands/nvidia.svg" alt="NVIDIA"></li>
      <li><img src="/img/brands/syno.svg" alt="Synology"></li>
      <li><img src="/img/brands/gigabyte.svg" alt="Gigabyte"></li>
      <li><img src="/img/brands/tp-link.svg" alt="TP-Link"></li>
      <li><img src="/img/brands/kingston.svg" alt="Kingston"></li>
      <li><img src="/img/brands/acer.svg" alt="Acer"></li>
      <li><img src="/img/brands/crucial.svg" alt="Crucial"></li>
      <li><img src="/img/brands/brother.svg" alt="Brother"></li>

      <!-- duplicati per loop infinito -->
      {{/* puoi duplicare la lista quando sei sicuro */}}
    </ul>
  </div>

</section>